footer{
    width: 100%;
    background-image: linear-gradient(white, #D0F5A9);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.resaux{
    align-items: center;
    width: fit-content;
}
 
.container{
    margin: 0;
    display: flex;
    justify-content: center;
}
 
.footer-title{
    align-items: center;
    width: fit-content;
}
 
.footer-img{
    max-width: 50px;
    max-height: 50px;
}
